<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="grant_type" value="fb_exchange_token"/>
    <add key ="client_id" value="176337173159349"/>
    <add key ="client_secret" value="10036140a8a98494512967c1bcd39ce7"/>
    <add key ="fb_exchange_token" value="EAACgYLKRHbUBAOHSrOZB35RfudaA2wDhnnH823xRjG0urovtmKHAnqppHL4EV2pXZB2cPu4MQ6JU186psLpRj9FNPxQo6T5fvn4zw9zwDYGFQFYknEqjd6uCKyJ9WelZCo1CbHHWpPp8VuGvpum1ZCnkrnKnPECnfZBTrUQle1fadMoy7d430"/>
    <add key="consumerKey" value="3vs8cBTP4ON4xwEZsS6Yvl9xG" />
    <add key="consumerSecret" value="WrGPZdyLy4naOir1RawS1nRc9AjNASNSmFQEtgorlAl3vvCnMh" />
    <add key="accessToken" value="974033487266271233-IIyq2JNtTPNvgiIyPL9vmSM1JA6dYbt" />
    <add key="secretToken" value="wJs32FRd1kTyBBVC1h8IluwBdl6A1QRLi4dImhta8UABq" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
        <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Encoding" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
          <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
