<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="encryptRequestToken" value="mzMhW7mUU0lI6xaAWAm5ZzTOfQ/0RlHk61zH5435Yk/j7fSoHE0g9DckeIG3l8rsGsxcI9V5/hXHtblua6RxLIZWU4hUn5yWXXAniON9G4vaHGZYNGAbsGzG+idnt0vU9HfdnCthgbXp8kp2gm3ZIism6Pj1VNH4x7Rgp22dF40z/Oem6cHNn2xvkJHq6LhPYa4intUEvdn+ZdSEhMNkTl+PBisuBZX0MT9FWGMkUR3onvi2t7BuTzQwpqCXGfb3AChYBd1bcsHy3Z8Y9YabS9e8YRZDEAl8LCRyTnjkrImYZG3P1vkc3wd3MnUs0nju6yY5a8YCmjXE+KmmyxQ4azMSxmRj4RV+afkZi+53IMuJ7Dord9gNqheHj/oUbBLg3oeseFO88dkaCck+2ojc0bNPQOM1tb4NPwJV8sqM0CPfWv3rAUQiQw==" />
    <add key="consumerKey" value="3vs8cBTP4ON4xwEZsS6Yvl9xG" />
    <add key="consumerSecret" value="WrGPZdyLy4naOir1RawS1nRc9AjNASNSmFQEtgorlAl3vvCnMh" />
    <add key="accessToken" value="974033487266271233-UPAOdI0rPS1TjK5FR5VJMJsD4dBselw" />
    <add key="secretToken" value="n0rfufLN4hqgzJ0OimJvM5wYaykQ2wmAyHAjUOoDuNWOc" />
  </appSettings>
  <runtime>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
         
        <dependentAssembly>    
            <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="System.Security.Cryptography.Encoding" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="Accord.Statistics" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />    
        </dependentAssembly>    
    </assemblyBinding>
  </runtime>
</configuration>